<html>
<head>
	<meta http-equiv="no-cache">
	<meta http-equiv="Expires" content="-1">
	<meta http-equiv="Cache-Control" content="no-cache">
	<title>Shivakumars.in</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css"/>
	<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
	<script src="/scripts/myscript.js"></script>
  	<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

</head>
<body> 
<div class="header">

<a href="http://shivakumars.in/index.html"><div class="headPane">Home</div></a>
<a href="http://shivakumars.in/contributions.html"><div class="headPane">Contributions</div></a>
<a href="#"><div class="headPane">Blog</div></a>
</div>

<br>

{{ content }}

<div class="footer">Copyright by Shivakumars.in</div>
</body>
</html>